{% extends 'base.html' %}
{% load crispy_forms_tags %} {% load static %}
{% block title %} Product Form {% endblock title %}

{% block main %}
  <div class="container">
    <div class="row py-3">
      <div class="col-md-10 m-auto mt-5">
        <div class="card shadow">
          <div class="card-header">
            <h3 class="card-title fw-semibold">
              {% if object %}
                Update Product
              {% else %}
                Add Product
              {% endif %}
            </h3>
          </div>
          <div class="card-body">
            <form action="" method="post">
              {% csrf_token %}
              <div>
                {% crispy form %}
              </div>
              <div class="">
                <button type="submit" class="btn btn-green float-end">Save</button>
              </div>
            </form>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
