{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% block head_title %}
  {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
  <div class="container">
    <div class="row py-3">
      <div class="col-md-5 m-auto mt-5">
        <div class="card" id="logout-div-id">
          <div class="card-body">
            <h2 class="text-center my-3">Logout</h2>
            <p>{% trans 'Are you sure you want to sign out?' %}</p>
            {% url 'account_logout' as action_url %}
            {% element form method="post" action=action_url no_visible_fields=True %}
              {% slot body %}
                {% csrf_token %}
                {{ redirect_field }}
              {% endslot %}
              {% slot actions %}
                <div class="d-grid">
                  <button type="submit" class="btn btn-danger">Logout</button>
                </div>
              {% endslot %}
            {% endelement %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
